<!DOCTYPE html>
<html>
  <head>
    <title>WomenWhoCode</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="csrf-token" content="<%= form_authenticity_token %>">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Wobot">
    <meta property="og:description" content="Women Who Code Write Their Future | A sweater with purpose and Wobot AI to guide your tech career path">
    <meta property="og:image" content="<%= asset_url('https://res.cloudinary.com/diwuyv3c8/image/upload/v1736123213/url-wobot_l6ma3l.jpg') %>">
    <meta property="og:url" content="https://www.wobot.tech">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'w-favicon.ico' %>
    <script src="https://unpkg.com/feather-icons"></script>
    <!-- Add Stripe.js -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Add publishable key for Stripe -->
    <% if Rails.configuration.stripe[:publishable_key] %>
      <script>
        const stripe = Stripe('<%= Rails.configuration.stripe[:publishable_key] %>');
      </script>
    <% end %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>

    <!-- Initialize Feather icons -->
    <script>
      document.addEventListener('turbo:load', () => {
        feather.replace();
      });
    </script>
  </body>
</html>
